$color-bg: #F4F5F9;
$color-primary: #42567A;
$color-secondary: #3877ee;
$color-pink: #ef5da8;
$color-blue: #5d5fef;
$color-disable: #C7CDDA;
$color-grey: #9BA5BA;
$color-light-grey: #D0D5E0;

$font-text: 'PT Sans', sans-serif;

$radius: 50px;
$base-size: 20px;
$transition: all .5s;
$box-shadow: 0 0 50px rgb(0 0 0 / 50%);
$background-gradient: linear-gradient(to right, #8e2de2, #4a00e0);

